.c-custom {
  background-image: url("/Axit/assets/images/img-bg-custom.png");
  background-color: rgba(0, 0, 0, 0.9);
  text-align: center;
  padding: 2.25rem 1.5rem 2.25rem 1.5rem;

  @include between($tablet, $desktop) {
    padding: 2.25rem 3.5rem 2.25rem 3.5rem;
  }

  @include between($desktop, $desktop-large) {
    padding: 3.25rem 5.3rem 2.125rem 5.3rem;
  }

  @include between($desktop-large, 1400px) {
    padding: 4.25rem 5.3rem 3.125rem 5.3rem;
  }

  @include from(1400px) {
    padding: 5rem 9.3rem 4rem 9.3rem;
  }

  p {
    color: $color-white-primary;
  }

  .c-divider--white {
    margin: 1.875rem auto;
  }
}

.c-custom__heading {
  color: $color-white-primary;
}

.c-custom__button--transparent {
  margin: 1rem auto;
  margin-top: 2rem;

  &:hover {
    transition: 0.3s;
    background-color: $color-grey-primary;
    cursor: pointer;
  }
}
