.c-features__container-one {
  padding: 2.25rem 1.5rem 2.25rem 1.5rem;
  background-color: $color-grey-other;
  text-align: center;
  @include flex-column-center;

  img {
    margin-left: 0;

    @include between($tablet, $desktop) {
      margin-left: 3rem;
    }

    @include from($desktop) {
      margin-left: 6rem;
    }
  }

  p {
    margin: 1.5rem 0;

    @include from($tablet) {
      margin: 3.6rem 0 1.5rem 0;
    }

    &:last-of-type {
      margin: 0 0 3rem 0;
    }
  }

  @include from($tablet) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: unset;
  }

  @include between($tablet, $desktop) {
    padding: 3.25rem 3.5rem 2.125rem 3.5rem;
  }

  @include between($desktop, $desktop-large) {
    padding: 5.25rem 5.3rem 3.125rem 5.3rem;
  }

  @include between($desktop-large, 1400px) {
    padding: 7.25rem 5.3rem 5.125rem 5.3rem;
  }

  @include from(1400px) {
    padding: 9.25rem 9.3rem 7.125rem 9.3rem;
  }
}

.c-features__tab-group {
  background-color: $color-grey-secondary;
  font-size: 0.94rem;
  line-height: 1.25;
  color: $color-white-primary;
  font-family: $font-secondary-bold;
  display: flex;
  flex-direction: row;
  justify-content: center;

  @include from($tablet) {
    display: flex;
    flex-direction: column;
    margin-right: 2rem;
  }

  @include between($tablet, $desktop) {
    margin-right: 3rem;
    max-height: 21rem;
  }

  @include from($desktop) {
    margin-right: 6rem;
    max-height: 21rem;
  }

  .current {
    background-color: $color-orange-primary;
  }
}

.c-features__tab-button {
  width: 4rem;
  height: 4rem;
  text-align: center;
  text-transform: uppercase;
  padding: 1.5rem 0;
  border-right: 1px solid $color-grey-other;

  @include from($tablet) {
    border-bottom: 1px solid $color-grey-other;
    padding: 3rem 0;
    width: 7rem;
    height: 7rem;
  }
}

.c-features__heading {
  font-size: 1.25rem;
  font-family: $font-secondary-bold;
  margin: 1rem 0 1rem 0;

  @include from($tablet) {
    margin: 0 0 1.8rem 0;
  }
}

.c-features__button--orange {
  background-color: $color-orange-primary;
  margin: 1rem auto;

  &:hover {
    transition: 0.3s;
    background-color: $color-black-primary;
    cursor: pointer;
  }

  @include from($tablet) {
    margin: 0;
  }

  a {
    text-decoration: none;
    color: $color-white-primary;
  }
}

// CONTAINER TWO

.c-features__container-two {
  padding: 2.25rem 1.5rem 2.25rem 1.5rem;
  text-align: center;
  @include flex-column-center;

  .c-features-img {
    margin-right: 0;
    width: 22rem;
    height: 13rem;

    @include between($tablet, $desktop) {
      margin-right: 3rem;
      width: 22rem;
      height: 13rem;
    }

    @include from($desktop) {
      margin-right: 3rem;
      width: 32rem;
      height: 23rem;
    }

    @include from($desktop-large) {
      margin-right: 6rem;
    }
  }

  h5 {
    font-size: 0.875rem;
    font-family: $font-secondary-semi-bold;
    color: $color-black-other;
    margin: 1rem 0 0.5rem 0;

    @include between($desktop, $desktop-large) {
      margin: 2rem 0 0.5rem 0;
    }

    @include from($desktop-large) {
      margin: 2.875rem 0 0.5rem 0;
    }
  }

  @include from($tablet) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: unset;
  }

  @include between($tablet, $desktop) {
    padding: 2.25rem 3.5rem 2.25rem 3.5rem;
  }

  @include between($desktop, $desktop-large) {
    padding: 3.25rem 5.3rem 3.125rem 5.3rem;
  }

  @include between($desktop-large, 1400px) {
    padding: 4.25rem 5.3rem 5.125rem 5.3rem;
  }

  @include from(1400px) {
    padding: 6.75rem 9.3rem 7.125rem 9.3rem;
  }

  .c-divider--orange {
    margin: 1.875rem auto;

    @include from($tablet) {
      margin: 1.875rem 0;
    }
  }
}

.c-icon {
  border-radius: 50%;
  border: 2px solid $color-orange-primary;
}

.c-features__icon--small {
  width: 5rem;
  height: 2.5rem;
  padding: 0.3rem 0.8rem;
}

.c-features__icon--small-image {
  width: 1.5rem;
  height: 1.5rem;
}

.c-features__group-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.c-features__icon-description {
  margin-left: 1rem;
  text-align: left;

  @include from($tablet) {
    margin-left: 1.875rem;
  }
}

.c-divider--orange {
  color: $color-orange-primary;
}

// CONTAINER THREE

.c-features__container-three {
  padding: 2.25rem 1.5rem 2.125rem 1.5rem;
  background-color: $color-grey-other;
  text-align: center;
  @include flex-column-center;

  img {
    margin-left: 0;
    width: 22rem;
    height: 13rem;

    @include between($tablet, $desktop) {
      margin-left: 3rem;
      width: 22rem;
      height: 13rem;
    }

    @include from($desktop) {
      margin-left: 3rem;
      width: 32rem;
      height: 23rem;
    }

    @include from($desktop-large) {
      margin-left: 6rem;
    }
  }

  p {
    margin: 1rem 0;

    @include from($tablet) {
      margin: 2rem 0 1.5rem 0;
    }
  }

  @include from($tablet) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: unset;
  }

  @include between($tablet, $desktop) {
    padding: 2.25rem 1.5rem 2.25rem 1.5rem;
  }

  @include between($desktop, $desktop-large) {
    padding: 3.25rem 3.3rem 3.125rem 3.3rem;
  }

  @include between($desktop-large, 1400px) {
    padding: 4.25rem 5.3rem 5.125rem 5.3rem;
  }

  @include from(1400px) {
    padding: 6.75rem 9.3rem 7.125rem 9.3rem;
  }

  .c-divider--orange {
    margin: 1.875rem auto;

    @include from($tablet) {
      margin: 1.875rem 0;
    }
  }
}
