.c-process {
  padding: 2.25rem 1.5rem 2.25rem 1.5rem;
  text-align: center;

  @include between($tablet, $desktop) {
    padding: 2.25rem 3.5rem 2.25rem 3.5rem;
  }

  @include between($desktop, $desktop-large) {
    padding: 3.25rem 5.3rem 3.125rem 5.3rem;
  }

  @include between($desktop-large, 1400px) {
    padding: 4.25rem 5.3rem 5.125rem 5.3rem;
  }

  @include from(1400px) {
    padding: 6.75rem 9.3rem 7.125rem 9.3rem;
  }

  .c-divider--orange {
    margin: 1.875rem auto;
  }
}

h2 {
  font-size: 2.25rem;
  line-height: 1.8;
  color: $color-black-other;
  font-family: $font-primary-regular;
  text-transform: uppercase;
}

h4 {
  font-size: 1.25rem;
  font-family: $font-secondary-bold;
  color: $color-black-secondary;
  text-align: center;
  margin-bottom: 1rem;

  @include from($tablet) {
    margin-bottom: 1.5rem;
  }
}

.c-process__group {
  @include flex-column-center;

  @include from($tablet) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 2.5rem;
  }
}

.c-process__icon-group {
  padding-right: 0;

  @include from($tablet) {
    &:not(:last-of-type) {
      padding-right: 2rem;
    }
  }
}

.c-process__icon--big {
  width: 4.5rem;
  height: 4.5rem;
  margin: 2rem auto;
  padding: 1rem 0.5rem;
}

.c-process__icon--big-image {
  width: 2.2rem;
  height: 2.2rem;
}
