.c-process {
  padding: 2.25rem 1.5rem 2.25rem 1.5rem;
  text-align: center;

  .c-divider--orange {
    margin: 1.875rem auto;
  }
}

h2 {
  font-size: 2.25rem;
  line-height: 1;
  color: $color-black-other;
  font-family: $font-primary-light;
  text-transform: uppercase;
}

h4 {
  font-size: 1.25rem;
  font-family: $font-secondary-bold;
  color: $color-black-secondary;
  text-align: center;
  margin-bottom: 1rem;
}

.c-process__icon-group {
  padding-right: 0;
}

.c-process__icon--big {
  width: 4.5rem;
  height: 4.5rem;
  margin: 2rem auto;
  padding: 1rem 0.5rem;
}

.c-process__icon--big-image {
  width: 2.2rem;
  height: 2.2rem;
}

// ==============================================================================================
// ==============================================================================================
// MEDIA QUERIES

//==== FROM TABLET ================================================================
h2 {
  @include from($tablet) {
    line-height: 1.8;
  }
}

h4 {
  @include from($tablet) {
    margin-bottom: 1.5rem;
  }
}

.c-process__group {
  @include from($tablet) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 2rem;
    padding-top: 2.5rem;
  }
}
//==== BETWEEN TABLET AND DESKTOP ============================================================
.c-process {
  @include between($tablet, $desktop) {
    padding: 2.25rem 3.5rem 2.25rem 3.5rem;
  }
}
//==== BETWEEN DESKTOP AND DESKTOP-LARGE ============================================================
.c-process {
  @include between($desktop, $desktop-large) {
    padding: 3.25rem 5.3rem 3.125rem 5.3rem;
  }
}
//==== BETWEEN DESKTOP-LARGE AND 1400px ============================================================
.c-process {
  @include between($desktop-large, 1400px) {
    padding: 4.25rem 5.3rem 5.125rem 5.3rem;
  }
}
//==== FROM 1400px ============================================================
.c-process {
  @include from(1400px) {
    padding: 6.75rem 9.3rem 7.125rem 9.3rem;
  }
}
