// Raleway Light
@font-face {
  font-family: "Raleway Light";
  src: url("/Axit/scss/base/fonts/Raleway/Raleway-Light.ttf");
}

// Raleway Regular
@font-face {
  font-family: "Raleway Regular";
  src: url("/Axit/scss/base/fonts/Raleway/Raleway-Regular.ttf");
}

// Raleway Medium
@font-face {
  font-family: "Raleway Medium";
  src: url("/Axit/scss/base/fonts/Raleway/Raleway-Medium.ttf");
}

// Raleway Semi-Bold
@font-face {
  font-family: "Raleway Semi-Bold";
  src: url("/Axit/scss/base/fonts/Raleway/Raleway-SemiBold.ttf");
}

// Open Sans Light 300
@font-face {
  font-family: "Open Sans Light";
  src: url("/Axit/scss/base/fonts/Open_Sans/OpenSans-Light.ttf");
}

// Open Sans Regular 400
@font-face {
  font-family: "Open Sans Regular";
  src: url("/Axit/scss/base/fonts/Open_Sans/OpenSans-Regular.ttf");
}

// Open Sans Semi-Bold 600
@font-face {
  font-family: "Open Sans Semi-Bold";
  src: url("/Axit/scss/base/fonts/Open_Sans/OpenSans-SemiBold.ttf");
}

// Open Sans Bold
@font-face {
  font-family: "Open Sans Bold";
  src: url("/Axit/scss/base/fonts/Open_Sans/OpenSans-Bold.ttf");
}
