// FONTS
$font-primary-light: "Raleway Light", sans-serif;
$font-primary-regular: "Raleway Regular", sans-serif;
$font-primary-medium: "Raleway Medium", sans-serif;
$font-primary-semi-bold: "Raleway Semi-Bold", sans-serif;

$font-secondary-light: "Open Sans Light", sans-serif;
$font-secondary-regular: "Open Sans Regular", sans-serif;
$font-secondary-semi-bold: "Open Sans Semi-Bold", sans-serif;
$font-secondary-bold: "Open Sans Bold", sans-serif;

// COLORS
$color-white-primary: white;

$color-black-primary: #000000;
$color-black-secondary: #333333;
$color-black-other: #212121;

$color-grey-primary: #bdbdbd;
$color-grey-secondary: #86878b;
$color-grey-other: #f9f9f9;

$color-orange-primary: #ff8b38;

// BREAKPOINTS
$tablet: 768px;
$desktop: 1024px;
$desktop-large: 1200px;
$wide-screen: 1260px;
$ultra-wide-screen: 1600px;
